<p>que1 works!</p>

<div class="container">
    <h2 class="bg-primary text-white">List of Names</h2>
    <ul>
<h4><li [ngStyle]="{'color':colorCode}">Rahul</li></h4>
<h4><li [ngStyle]="{'color':colorCode}">Nidhi</li></h4>
<h4><li [ngStyle]="{'color':colorCode}">Radhika</li></h4>
<h4><li [ngStyle]="{'color':colorCode}">Anuj</li></h4>
<h4><li [ngStyle]="{'color':colorCode}">Karan</li></h4>
</ul>

<!-- <div>

</div> -->
<br>
<div>
<button class="btn btn-primary" (click)="onBlue()">Blue</button>
<button class="btn btn-danger" (click)="onRed()">Red</button>
<button class="btn btn-success" (click)="onGreen()">Green</button>
</div>
</div>