<p>reactform works!</p>

<h1 class="container text-center">Reactive Form</h1>

<form [formGroup]="formEmp" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Name :</label>
        <input type="text" class="form-control" formControlName="name"/>
    </div>
    <div class="form-group">
        <label>Mobile No. :</label>
        <input type="number" class="form-control" formControlName="num"/>
    </div>
    <div class="form-group">
        <div class="radio-inline">
        <label>Gender :</label>
        <input type="radio" class="ml-2" name="genderControl"/>
        <label class="radio-label">Male</label>
        <input type="radio" class="ml-4" name="genderControl"/>
        <label class="radio-label">Female</label>
        </div>
        <div class="form-group">
            <label>Education :</label>
            <select class="custom-select mb-3" class="form-control" formControlName="education">
                <option value="">Select</option>
                <option *ngFor="let data of qualification">{{data}}</option>
               </select>
        </div>

        <div class="form-group">
            <div class="checkbox-inline">
            <label>Course Completed :</label>
            <input type="checkbox" class="ml-2" name="course"/>
            <label class="checkbox-label">Angular</label>
            <input type="checkbox" class="ml-4" name="course"/>
            <label class="checkbox-label">.Net</label>
            </div>
            </div>

    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <div>
                <a class="btn btn-danger text-white">Cancel</a>
                <a class="btn btn-success text-white">Submit</a>
            </div>
        </div>
    </div>
    </div>

    </form>
